<form novalidate (ngSubmit)="comment()" autocomplete="off">
  <div class="col-12 comment-input">
    <div 
      class="input-group"
      [ngClass]="{
        'has-error': newComment.errors 
        && submitted}">
      <textarea
        name="comment"
        class="form-control"
        placeholder="Add a comment"
        type="text"
        rows="1"
        (keydown.enter)="comment();false"
        [formControl]="newComment"></textarea>
      <div>
        <button class="btn btn-primary sm" type="submit">Send</button>
      </div>
    </div>
    <ul
      class="help-block"
      *ngIf="newComment.errors 
      && submitted"
      [ngClass]="{
        'has-error': newComment.errors
        && submitted}">
      <li *ngIf="newComment.errors.notEmpty">Cannot send empty post</li>
    </ul>
    <small class="form-text text-muted">
      Shift+Enter newline. Close comments to resync timeline or click the button at the top of timeline.
    </small>
  </div>
</form>