<ul class="nav nav-pills">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="timeline"
      [routerLinkActive]="['active']">Timeline</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="signup"
      [routerLinkActive]="['active']"
      *ngIf="!(loggedIn$ | async)">Signup</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="login"
      [routerLinkActive]="['active']"
      *ngIf="!(loggedIn$ | async)">Login</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="timeline"
      *ngIf="(loggedIn$ | async)"
      (click)="onLogout();">Logout</a>
  </li>
</ul>