<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Submit</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>You cannot perform this action without logging in.</strong></p>
  <p>Sign Up to create a new account or Login to access an existing one.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modal.close('Sign Up')">Sign Up</button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.close('Login')">Login</button>
</div>