<div class="container">
  <form [formGroup]="signupForm" (submit)="onSignupSubmit()" novalidate autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFName">First Name</label>
        <div
          [ngClass]="{
            'has-error': firstName.errors 
            && submitted}">
          <input
            type="text"
            class="form-control"
            id="inputFName"
            placeholder="First Name"
            formControlName="firstName">
          <ul
            class="help-block"
            *ngIf="firstName.errors 
            && submitted">
            <li>Required field</li>
            <li>Maximum of 30 characters</li>
          </ul>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLName">Last Name</label>
        <div
          [ngClass]="{
            'has-error': lastName.errors 
            && submitted}">
          <input
            type="text"
            class="form-control"
            id="inputLName"
            placeholder="Last Name"
            formControlName="lastName">
          <ul
            class="help-block"
            *ngIf="lastName.errors 
            && submitted">
            <li>Required field</li>
            <li>Maximum of 30 characters</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <div
          [ngClass]="{
            'has-error': email.errors 
            && submitted}">
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="Email"
            formControlName="email">
          <ul
            class="help-block"
            *ngIf="email.errors 
            && submitted">
            <li>Required field</li>
            <li>Valid Email</li>
          </ul>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <div
          [ngClass]="{
            'has-error': password.errors 
            && submitted}">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
            formControlName="password">
          <ul
            class="help-block"
            *ngIf="password.errors 
            && submitted">
            <li>Required field</li>
            <li>Minimum of 6 characters</li>
          </ul>
        </div>
      </div>
    </div>
    <ngb-alert [type]="alert.type" *ngIf="alert" (close)="alert=undefined">{{ alert.message }}</ngb-alert>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>

</div>