<div class="container">
  <form [formGroup]="signupForm" (submit)="onSignupSubmit()" novalidate autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFName">First Name</label>
        <div
          [ngClass]="{
            'has-error': signupForm.controls.firstName.errors?.required 
            && signupForm.controls.firstName.dirty,
            'has-success': !signupForm.controls.firstName.errors}">
          <input
          type="text"
          class="form-control"
          id="inputFName"
          placeholder="First Name"
          formControlName="firstName">
          <ul class="help-block">
            <li
              *ngIf="signupForm.controls.firstName.errors?.required 
              && signupForm.controls.firstName.dirty">Required field</li>
          </ul>  
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLName">Last Name</label>
        <div
          [ngClass]="{
            'has-error': signupForm.controls.lastName.errors?.required 
            && signupForm.controls.lastName.dirty,
            'has-success': !signupForm.controls.lastName.errors}">
          <input
            type="text"
            class="form-control"
            id="inputLName"
            placeholder="Last Name"
            formControlName="lastName">
          <ul class="help-block">
            <li
              *ngIf="signupForm.controls.lastName.errors?.required 
              && signupForm.controls.lastName.dirty">Required field</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          placeholder="Email"
          formControlName="email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Password"
          formControlName="password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>

  <p>First Name: {{ signupForm.value.firstName + ' errors:'}}</p><pre>{{ signupForm.controls.firstName.dirty }}</pre>
  <p>Last Name: {{ signupForm.value.lastName }}</p>
  <p>Email: {{ signupForm.value.email }}</p>
  <p>Password: {{ signupForm.value.password }}</p>
</div>