<div class="comment">
  <div class="comment-body">
    <div class="comment-heading">
      <h4 class="user">{{ comment.user.firstName + ' ' + comment.user.lastName }}</h4>
      <h5 class="time">{{ comment.updatedAt | date:'d MMMM, h:mm a' }}</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="deleteComment();"
        *ngIf="owner">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p>{{ comment.message }}</p>
  </div>
</div>
<ngb-alert
    *ngIf="commErr"
    (close)="commErr = undefined"> {{ commErr }} </ngb-alert>